.feed {
  width: 50vw;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}
.feed__twitterIcon {
  display: none !important;
}
.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
@media only screen and (min-device-width: 568px) and (max-device-width: 900px) {
  .feed {
    flex: 1;
    min-width: 80vw;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
  .feed {
    flex: 1;
    min-width: 80vw;
  }

  .feed__header {
    display: flex;
    justify-content: space-between;
  }
  .feed__twitterIcon {
    display: block !important;
    margin: 0 !important;
  }
}
