.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
  padding: 12px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 18px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .sidebarOption > h2 {
    display: none;
  }
}
