.sidebar {
  border-right: 1px solid var(--twitter-background);
  width: 20vw;
  margin-top: 20px;
  padding: 0 20px;
}
.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}
.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  padding-left: 6vw !important;
  padding-right: 6vw !important;
}
@media only screen and (min-device-width: 568px) and (max-device-width: 1000px) {
  .sidebar__tweet {
    display: none !important;
  }
  .sidebar {
    width: 50px;
  }
  .sidebar__twitterIcon {
    margin-left: 10px;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
  .sidebar {
    display: none;
  }
}
